<div *ngIf="form">
  <md-card>
    <div class="card-header">
      Fact-Edit
    </div>

    <div class="card-body">
      <div class="card-block">
        <div class="card-title">
          <h5>Actions</h5>
        </div>
        <div class="row">
          <button type="button" md-raised-button color="primary" (click)="saveButtonClicked()">Save</button>
          <button type="button" md-raised-button color="primary" (click)="cancelButtonClicked()">Cancel</button>
        </div>
      </div>

      <form class="form-horizontal" [formGroup]="form.formGroup" novalidate>
        <fieldset>
          <div class="card-block">
            <div class="card-title">
              <h5>Core Data</h5>
            </div>
            <div class="form-group row">
              <label class="col-1 col-form-label" for="factNameId">Name</label>
              <div class="col-8">
                <md-input-container>
                  <input mdInput class="form-control" id="factNameId" type="text" placeholder="Fact-Name (required)" formControlName="factNameControl"
                  />
                </md-input-container>
              </div>
            </div>
          </div>

          <div class="card-block">
            <div class="card-title">
              <h5>Question</h5>
            </div>
            <div class="form-group row">
              <label class="col-1 col-form-label" for="questionTitleId">Title</label>
              <div class="col-8">
                <md-input-container>
                  <input mdInput class="form-control" id="questionTitleId" type="text" placeholder="Question Title (required)" formControlName="questionTitleControl"
                  />
                </md-input-container>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-1 col-form-label" for="questionTextId">Text</label>
              <div class="col-8">
                <md-input-container>
                  <textarea mdInput class="form-control" id="questionTextId" rows="6" placeholder="Question Text (required)" formControlName="questionTextControl"></textarea>
                </md-input-container>
              </div>
            </div>
          </div>


          <div class="card-block">
            <div class="card-title">
              <h5>Answer</h5>
            </div>
            <div class="form-group row">
              <label class="col-1 col-form-label" for="answerTextId">Text</label>
              <div class="col-8">
                <md-input-container>
                  <textarea mdInput class="form-control" id="answerTextId" rows="6" placeholder="Answer Text (required)" formControlName="answerTextControl"></textarea>
                </md-input-container>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-1 col-form-label" for="answerCommentId">Comment</label>
              <div class="col-8">
                <md-input-container>
                  <textarea mdInput class="form-control" id="answerCommentId" rows="6" placeholder="Answer Comment" formControlName="answerCommentControl"></textarea>
                </md-input-container>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </md-card>
</div>