<md-sidenav-container>
  <md-toolbar color="primary">
    <span [@sidebarArrowAnimation]="isSidebarOpen" class="fa fa-arrow-right fa-2x" (click)="openNavigationClicked()"></span>
    <span>&nbsp;|&nbsp;</span>
    <div class="app__title">
      <h3>
        DrMuellers Mobile Learning System
      </h3>
    </div>
  </md-toolbar>

  <md-sidenav #sidenav mode="push" opened="false">
    <md-nav-list>
      <md-list-item>
        <a (click)="navigationClicked()" class="nav-link" routerLink="/sessions">Sessions</a>
      </md-list-item>

      <md-list-item>
        <a (click)="navigationClicked()" class="nav-link" routerLinkActive="active" routerLink="/facts">Facts</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <div class="app__div-container">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>