<md-card>
  <md-card-title>
    Facts Overview
  </md-card-title>

  <md-card-content>
    <div class="facts-ov__div-commands">
      <div class="row">
        <button (click)="createFactClicked()" md-raised-button color="primary">Create</button>
        <button (click)="deleteFactsClicked()" md-raised-button color="primary">Delete</button>
        <button (click)="openFactClicked()" md-raised-button color="accent">Open Fact</button>
      </div>
    </div>

    <div class="row">
      <ag-grid-angular [gridOptions]="gridOptions" class="facts-ov__aggrid ag-blue"></ag-grid-angular>
    </div>
  </md-card-content>
</md-card>